doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/format.css")
    link(rel="stylesheet", href="/css/app.css")
    title Bienes Raices |
  body.min-h-screen.bg-gray-200
    main.mx-auto.mt-10.px-2
      block contenido