extends ../layout/index

block contenido
  .py-10
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal.ml-3 Raices
    .mt-8.mx-auto.max-w-md
      .bg-white.py-8.px-4.shadow-lg.rounded-md
        form.space-y-5
          h2.text-center.text-2xl.font-extrabold.mb-10= pagina

          p.text-xl.font-bold.text-center.mb-3=mensaje